@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

body {
  height: 100vh;
  background-color: #000;
  font-family: 'JetBrains Mono', monospace;
}

.home-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 5px;
}

.home-div h1 {
  font-size: 3rem;
  font-weight: 700;
}

.home-upload {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.home-download {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.home-upload:hover,
.home-download:hover {
  background-color: #000;
  color: #fff;
}